<!--=== Footer Version 1 ===-->
<div class="footer-v1">
  <div class="footer">
    <div class="container">
      <div class="row">
        <!-- About -->
        <div class="col-md-3 md-margin-bottom-40">
          <a href="index.html"><img id="logo-footer" class="footer-logo" src="assets/img/logo/small-white.png" alt=""></a>
          <p>Your one stop medical center for interventional pain management and holistic wellness that provides unparalleled service and patient satisfaction.</p>
        </div><!--/col-md-3-->
        <!-- End About -->

        <!-- Latest -->
        <div class="col-md-3 md-margin-bottom-40">
          <div class="posts">
            <div class="headline"><h2>Latest Posts</h2></div>
            <ul class="list-unstyled latest-list">
              <li>
                <a href="#">The Road to Wellness</a>
                <small>April 1, 2016</small>
              </li>
              <li>
                <a href="#">Pain Management Today</a>
                <small>May 5, 2014</small>
              </li>
              <li>
                <a href="#">New Office, Better Care</a>
                <small>May 18, 2016</small>
              </li>
            </ul>
          </div>
        </div><!--/col-md-3-->
        <!-- End Latest -->

        <!-- Link List -->
        <div class="col-md-3 md-margin-bottom-40">
          <div class="headline"><h2>Useful Links</h2></div>
          <ul class="list-unstyled link-list">
            <li><a href="/services.html">Services</a><i class="fa fa-angle-right"></i></li>
            <li><a href="/about.html">About</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">Billing</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">FAQ</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">Blog</a><i class="fa fa-angle-right"></i></li>
          </ul>
        </div><!--/col-md-3-->
        <!-- End Link List -->

        <!-- Address -->
        <div class="col-md-3 map-img md-margin-bottom-40">
          <div class="headline"><h2>Contact Us</h2></div>
          <address class="md-margin-bottom-40">
            665 W North Ave <br />
            Ste 101 <br />
            Lombard, IL 60148 <br />
            Phone: (708) 244-7246 <br />
            Email: <a href="mailto:contact@chicagopwi.com" class="">contact@chicagopwi.com</a>
          </address>
        </div><!--/col-md-3-->
        <!-- End Address -->
      </div>
    </div>
  </div><!--/footer-->

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>

          </p>
        </div>

        <!-- Social Links -->
        <div class="col-md-6">
          <ul class="footer-socials list-inline">
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- End Social Links -->
      </div>
    </div>
  </div><!--/copyright-->
</div>
<!--=== End Footer Version 1 ===-->